{# templates/comment/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    {% set comment = "" %}
    <h1>Comments</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ comment.content }}</td>
            </tr>
	    </tbody>
    </table>

    {% if user is same as(comment.user) %}
    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
    {{ include('comment_delete_comment.html.twig') }}
    {% endif %}

{% endblock %}