:root {
	--main-bg-color-white: white;
	--main-bg-color-blue: rgb(49, 139, 142);
	--main-bg-color-darkblue: rgb(2, 50, 58);
	--main-bg-color-lightblue: rgb(217, 238, 237);
}

body {
	background-color: white;
}

.main-section {
	margin-left: 100px;
	margin-right: 100px;
	justify-content: center;
}

.title-footers {
	color: #318b8e;
	font-weight: bold;
	margin-top: 40px;
}

p {
	color: rgb(2, 50, 58);
}

/* max-width: 1279    it's for tablets*/
@media (min-width: 320px) and (max-width: 1024px) {
	.container4buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 1px;
		column-gap: 1px;
	}

	.nav-buttons {
		width: 120px;
		font-size: small;
		text-align: center;
	}

	.background-image {
		object-fit: cover;
	}

	.overlay-container {
		position: absolute;
		top: 80%;
		left: 50%;
		text-align: left;
		color: rgb(255, 255, 255);
		.logo {
			width: 200px;
			height: auto;
		}
		h3,
		h5 {
			font-size: 15px;
			text-justify: distribute;
		}
	}

	.logo-globetrotters {
		width: 200px;
	}

	p {
		font-size: 10px;
	}
	.p-footer {
		font-size: 6px;
	}

	footer {
		margin-top: 5px;
	}
}
