{# emails are more in a html format and so they don't need to start wit the twig "blocks"  #}
<p>
    <h1>New contact request</h1>
</p>
<p>
    <ul>
        <li>Name: {{data.name}}</li> 
        <li>Email: {{data.email}} </li>        
    </ul>
</p>
<p>
    <strong>Message</strong></br>
    {{data.message}}
<p>